/* Write your CSS here */
.app-cont {
  background-color: #000000;
  height: 100vh;
}

.prime-logo {
  height: 15rem;
  width: 100%;

  object-position: center;
}
.movie-list-cont {
  width: 90%;
  margin: auto;
}
.category-name {
  color: white;
  font-size: 2rem;
}
